/*TOP NAVBAR*/
.navbar-static-top{
  background-color: #0B3564;
  border: 0;
  min-height: unset;
  height: auto;
}
.navbar-static-top .navbar-nav>li>a{
	padding: 13px 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
}
.navbar-brand{
	padding: 8.5px 20px 8.5px 0;
	height: auto;
}
.navbar-static-top .navbar-nav>.active>a, 
.navbar-static-top .navbar-nav>.active>a:focus, 
.navbar-static-top .navbar-nav>.active>a:hover,
.navbar-static-top .navbar-nav>li>a:focus,
.navbar-static-top .navbar-nav>li>a:hover{
    color: #FFF;
    background-color: #658cb6;	
}

.navbar-brand>img{
  height: 100%;
}
/*END TOP NAVBAR*/

/*HEADER WELCOME*/
#block-headerwelcometext h1{
	font-size: 43px;
}
#block-headerwelcometext p{
	font-size: 19px;
}
#block-headerwelcometext img{
	width: 100%;
	height: auto;
}
/*END HEADER WELCOME*/

/*INDEX TREE & BUBBLE CHART*/
.path-frontpage #content{
	color: #FFF;
}
.path-frontpage #content .index,
.path-frontpage #content .bubble-chart{
	background-color: #76A1C3;
	padding: 0 10px 10px;
}
.path-frontpage #content .index{
	border-right: 1px solid #1b5292;
}
.path-frontpage #content .index h2,
.path-frontpage #content .bubble-chart h2{
	font-weight: bold;
	font-size: 30px;
	margin: 15px;
}
.path-frontpage #content .index .cate-color{
	font-size: 30px;
	vertical-align: middle;
	margin-right: 10px;
}
.path-frontpage #content .index .nav{
	color: #FFF;
}
.path-frontpage #content .index .nav>li>a{
	color: #FFF;
	padding: 10px;
	border-radius: 0;
	font-weight: bold;
}
.path-frontpage #content .index .nav>li>a:hover,
.path-frontpage #content .index .nav>li>a:focus,
.path-frontpage #content .index .nav>li.dropdown.open>a{
	color: #1b5292;
}
.path-frontpage #content .index .nav>li>a .fa-angle-right{
	font-size: 30px;
	vertical-align: middle;
	float: right;
}
.path-frontpage #content .index .nav>li .dropdown-menu{
	right: 0;
	left: 100%;
	border-radius: 0;
	background-color: #0B3567;
	border: 1px solid #ccc;
}
.path-frontpage #content .index .nav>li .dropdown-menu a{
	color: #FFF;
}
.path-frontpage #content .index .nav>li .dropdown-menu a:hover,
.path-frontpage #content .index .nav>li .dropdown-menu a:focus{
	color: #1b5292;
}
.path-frontpage #content .bubble-chart img{
    background-color: #D1E1F2;
    padding: 15px;
    width: 100%;
}
/*END INDEX TREE & BUBBLE CHART*/
/*MAPPING GUIDE*/
.path-frontpage #content .mapping-guide{
	color: #1b5292;
	margin: 30px 0;
}
.path-frontpage #content .mapping-guide .content{
	display: inline-block;
	vertical-align: sub;
	font-weight: bold;
}
.path-frontpage #content .mapping-guide .fa{
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	border: 3px solid;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 10px;
}
.path-frontpage #content .mapping-guide h2{
	margin: 0;
}
.path-frontpage #content .mapping-guide p{
	margin: 0;
}
/*END MAPPING GUIDE*/