/*TOP NAVBAR*/
.navbar-static-top{
  background-color: #0B3564;
  border: 0;
  min-height: unset;
  height: auto;
}
.navbar-static-top .navbar-nav>li>a{
	padding: 13px 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
}
.navbar-brand{
	padding: 8.5px 20px 8.5px 0;
	height: auto;
}
.navbar-static-top .navbar-nav>.active>a, 
.navbar-static-top .navbar-nav>.active>a:focus, 
.navbar-static-top .navbar-nav>.active>a:hover,
.navbar-static-top .navbar-nav>li>a:focus,
.navbar-static-top .navbar-nav>li>a:hover{
    color: #FFF;
    background-color: #658cb6;	
}

.navbar-brand>img{
  height: 100%;
}
/*END TOP NAVBAR*/

/*HEADER WELCOME*/
#block-headerwelcometext h1{
	font-size: 43px;
}
#block-headerwelcometext p{
	font-size: 19px;
}
#block-headercoverphoto img{
	width: 100%;
	height: auto;
}
/*END HEADER WELCOME*/

/*INDEX TREE & BUBBLE CHART*/
.path-frontpage #content{
	color: #FFF;
}
.path-frontpage #content .index,
.path-frontpage #content .bubble-chart,
.path-frontpage #content .index-search,
.path-frontpage #content .knowledge-base{
	background-color: #76A1C3;
	padding: 0 10px 10px;
}
.path-frontpage #content .index,
.path-frontpage #content .index-search{
	border-right: 1px solid #1b5292;
}
.path-frontpage #content .index h2,
.path-frontpage #content .bubble-chart h2,
.path-frontpage #content .index-search h2,
.path-frontpage #content .knowledge-base h2{
	font-weight: bold;
	font-size: 30px;
	margin: 15px;
}
.path-frontpage #content .index .cate-color{
	font-size: 30px;
	vertical-align: middle;
	margin-right: 10px;
}
.path-frontpage #content .index .nav{
	color: #FFF;
}
.path-frontpage #content .index .nav>li>a{
	color: #FFF;
	padding: 15px 10px;
	border-radius: 0;
	font-weight: bold;
}
.path-frontpage #content .index .nav>li>a:hover,
.path-frontpage #content .index .nav>li>a:focus,
.path-frontpage #content .index .nav>li.dropdown.open>a{
	color: #1b5292;
}
.path-frontpage #content .index .nav>li>a .fa-angle-right{
	font-size: 30px;
	vertical-align: middle;
	float: right;
}
.path-frontpage #content .index .nav>li .dropdown-menu{
	right: 0;
	left: 100%;
	border-radius: 0;
	background-color: #0B3567;
	border: 1px solid #ccc;
}
.path-frontpage #content .index .nav>li .dropdown-menu a{
	color: #FFF;
}
.path-frontpage #content .index .nav>li .dropdown-menu a:hover,
.path-frontpage #content .index .nav>li .dropdown-menu a:focus{
	color: #1b5292;
}
.path-frontpage #content .bubble-chart img{
    background-color: #BCD3E8;
    padding: 15px;
    width: 100%;
}
/*END INDEX TREE & BUBBLE CHART*/
/*MAPPING GUIDE*/
.path-frontpage #content .mapping-guide{
	color: #1b5292;
	margin: 30px 0;
}
.path-frontpage #content .mapping-guide .content{
	display: inline-block;
	vertical-align: sub;
	font-weight: bold;
}
.path-frontpage #content .mapping-guide .fa{
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	border: 3px solid;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 10px;
}
.path-frontpage #content .mapping-guide h2{
	margin: 0;
}
.path-frontpage #content .mapping-guide p{
	margin: 0;
}
/*END MAPPING GUIDE*/
/*INDEX SEARCH FORM*/
.path-frontpage #content .index-search form{
	background-color: #BCD3E8;
	padding: 5px;
	position: relative;
}
.path-frontpage #content .index-search input{
	height: 43px;
	border: 0;
	outline: none;
	color: #1b5292;
	font-weight: bold;
}
.path-frontpage #content .index-search button{
	height: 43px;
	border: 0;
	background-color: transparent;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
}
/*END INDEX SEARCH FORM*/
/*KNOWLEDGE BASE SEARCH FORM*/
.path-frontpage #content .knowledge-base .search{
	padding-left: 5px;
}
.path-frontpage #content .knowledge-base .search form{
	background-color: #BCD3E8;
	padding: 5px;
	position: relative;
}
.path-frontpage #content .knowledge-base .search input{
	height: 43px;
	border: 0;
	outline: none;
	color: #1b5292;
	font-weight: bold;
}
.path-frontpage #content .knowledge-base .search button{
	height: 43px;
	border: 0;
	background-color: transparent;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
}
.path-frontpage #content .knowledge-base .list-menu{
	padding-right: 5px;
}
.path-frontpage #content .knowledge-base .list-menu ul{
	background-color: #BCD3E8;
}
.path-frontpage #content .knowledge-base .list-menu ul .fa{
	vertical-align: middle;
	margin-right: 10px;
	font-size: 30px;
}
.path-frontpage #content .knowledge-base .list-menu ul .fa-stop{
	color: #FFF;
}
.path-frontpage #content .knowledge-base .list-menu .nav-pills>li>a{
	padding: 13.5px 15px;
}
/*END KNOWLEDGE BASE SEARCH FORM*/

/*EXPLORE GRID*/
.emor-mapping-explore{
	margin-top: 40px;
}
.path-emor-mapping-explore .view-filters {
	background-color: #76a1c2;
	padding: 45px 10px 10px;
}
.path-emor-mapping-explore .view-filters .emor-mapping-filter{
	background-color: #bcd4e6;
	padding: 15px;
}
.path-emor-mapping-explore .view-filters .emor-mapping-filter h2{
	font-weight: bold;
	border-bottom: 2px solid;
	line-height: 1.5;
}
.path-emor-mapping-explore .view-content .breadcrumb{
	background-color: #76a1c2;
	margin: 0 -15px;
	border-radius: 0;
	height: 45px;
	padding: 8px 15px 8px 0;
}
.path-emor-mapping-explore .view-content .breadcrumb .path{
	background-color: #e8e9e9;
	height: 100%;
	color: #658cb6;
}
.path-emor-mapping-explore .view-content .breadcrumb .path span{
	line-height: 29px;
	margin: 0 15px;
}
.path-emor-mapping-explore .view-content .breadcrumb .path .mapped-in{
	font-weight: bold;
	font-size: 18px;
	vertical-align: middle;
}
.path-emor-mapping-explore .view-content .breadcrumb .path .fa-search{
	position: relative;
	height: 100%;
	width: 30px;
	line-height: 29px;
	font-size: 20px;
	background-color: #76a1c2;
	color: #FFF;
}
.path-emor-mapping-explore .view-content .breadcrumb .path .fa-search:before{
	float:right;
}
.path-emor-mapping-explore .explore-grid-col{
	padding: 10px;
}
.explore-grid-item{
/*	height: 280px;*/
	border: 1px solid;
	border-radius: 4px;
	padding: 2px;
	background-color: #FFF;
}
.explore-grid-item .article-img img{
	width: 100%;
	height: 190px;
}
.explore-grid-item .desc-box h2.title{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
}
/*END EXPLORE GRID*/

/*EMOR ARTICLE*/
.emor-article{
	margin-top: 40px;
}
.emor-article .title-box .index-title{
	text-transform: uppercase;
	color: #658cb6;
	font-weight: bold;
	font-size: 30px;
	margin-top: 0;
}
.emor-article .title-box .node-title{
	text-transform: uppercase;
	color: #797979;
	font-weight: bold;
	font-size: 40px;
}
.emor-article .title-box .author-name{
	color: #797979;
	font-size: 26px;
}
.emor-article .title-box .author-name a{
	color: #797979;
}
.emor-article .abstract{
	border-width: 1px 0px;
	border-style: solid;
	color: #658cb6;
	padding: 20px 0;
	margin: 30px 0;
}
.emor-article .abstract h2{
	margin: 0;
	font-size: 20px;
}
.emor-article .abstract p{
	margin: 0;
}
.emor-article .details {
	padding-right: 0;
}
.emor-article .details .social-tab{
	background-color: #f2f5f6;
	max-height: 42px;
}
.emor-article .details .social-tab .icon.share{
	padding: 0 15px;
	width: auto;
	background-color: #b7b6b6;
	color: #FFF;
}
.emor-article .details .social-tab .icon{
	text-align: center;
	float:left;
	width: 42px;
	height: 42px;
	border: 1px solid #b7b6b6;
	color: #797979;
}
.emor-article .details .social-tab .icon .fa{
	line-height: 42px;
	font-size: 16px;
}
.emor-article .details .notes-guide i,
.emor-article .details .notes-guide p{
	display: inline-block;
	line-height: 42px;
	color: #797979;
}
.emor-article .details .notes-guide .fa{
    font-style: italic;
    border: 2px solid;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
}
.emor-article .details .notes-guide .fa:before{
	position: absolute;
	top: -25%;
	right: 12px;
}
.emor-article .details .notes-guide p{
	font-weight: bold;
	margin: 0;
}
.emor-article .content-tabs{
	padding-left: 0;
}
.emor-article .content-tabs ul.nav li{
	width: 50%;
	text-align: center;
}
.emor-article .content-tabs ul.nav li>a{
	border-radius: 0;
	border-color: transparent;
	background-color: #658cb6;
	color: #FFF;
	font-weight: bold;
	margin-right: 0;
}
.emor-article .content-tabs ul.nav li.active>a,
.emor-article .content-tabs ul.nav li>a:focus,
.emor-article .content-tabs ul.nav li>a:hover{
	background-color: #0b3564;
}
.emor-article .content-tabs .tab-content{
	border: 1px solid #658cb6;
	margin-top: -1px;
}
.emor-article .content-details .details .content{
	padding: 15px 40px 15px 15px;
	background-color: #f2f5f6;
	margin-top: 50px;
}
.emor-article .content-tabs .content-tags .panel{
	padding: 0;
	border-radius: 0;
	border: 0;
}
.emor-article .content-tabs .content-tags .panel .panel-heading{
	padding: 0;
	border-radius: 0;
}
.emor-article .content-tabs .content-tags .panel .panel-title{
	text-align: center;
	padding: 10px 15px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	background-color: #0b3564;
	color: #FFF;
}
.emor-article .content-tabs .content-tags .panel .panel-collapse{
	border: 1px solid #0b3564;
}
.emor-article .path-info{
	border-width: 1px 0px;
	border-style: solid;
	color: #658cb6;
	padding: 20px 0;
	margin: 30px 0;
}
.emor-article .path-info>div{
	padding: 0;
}
.emor-article .path-info h2{
	font-size: 20px;
	margin: 0;
}
.emor-article .path-info .info{
	color: #5c5c5c;
	font-weight: bold;
}
.emor-article .path-info .info .fa{
	color: #658cb6;
}
.emor-article .path-info .path .breadcrumb{
	background-color: transparent;
	margin: 0;
	padding: 0;
}
.author-text-box{
	padding: 15px;
	background-color: #658cb6;
	color: #FFF;
}
.author-text-box .author-img{
	padding-right: 0;
}
.author-foot-notes{
	color: #5c5c5c;
	padding: 20px;
}
.author-foot-notes h2{
	font-size: 20px;
	margin: 0;
}
.author-foot-notes p{
	margin: 0;
}
/*END EMOR ARTICLE*/

/*EMOR AUDIO*/
.emor-article .content-tabs ul.nav li{
	width: 33.3333%;
}
.emor-article .content-details .details .content.audio{
	height: 500px;
	position: relative;
}
.emor-article .content-details .details .content.audio:before{
	content: '\f027';
	font-family: FontAwesome;
	position: absolute;
	font-size: 50px;
	top: 43%;
	left: 46%;
	color: #a0a0a0;
	line-height: 1;
	width: 50px;
	height: 50px;
	background-color: #e8e9e9;
	border-radius: 50%;
	text-align: center;
}
/*END EMOR AUDIO*/